/* Resume Section - Full Page */
.resume-paper {
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 70%;
    max-width: 900px;
    font-family: 'Public Sans', sans-serif;
}

/* Scroll Fix */
main.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y:auto;
}

/* Resume Title */
#resume-title {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center; /* Changed to center */
    margin-bottom: 10px;
}

/* Contact Info */
.contact-info {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center; /* Changed to center */
}

/* Section Headers */
.content h2 {
    font-size: 1.3rem;
    margin-top: 20px;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

/* Job & Education Sections */
.job, .edu-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}

.job h3{
    font-weight: normal;
}
/* Company Logos */
.company-logo, .edu-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 5px;
}

/* Align all text to the left */
.resume-paper h2, 
.resume-paper h3, 
.resume-paper h4, 
.date,
.resume-paper ul {
    text-align: left;
}

/* Job Dates */
.date {
    font-style: italic;
    color: #555;
    margin-bottom: 5px;
}

/* List Styling */
.resume-paper ul {
    padding-left: 20px;
}

/* Links */
.resume-paper a {
    color: #d63384;
    text-decoration: none;
}

.resume-paper a:hover {
    color: #b0226f;
}

/* PDF Download Button */
.pdf-download {
    text-align: center;
    margin-top: 40px;
    margin-top: 50px;
}

.pdf-download a {
    background-color: #d63384;
    color: #fff;
    padding: 20px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1rem;
    transition: background 0.3s;
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
}

.pdf-download a:hover {
    background-color: #b40e61;
}

.certifications {
    text-align: left;
}